@media (max-width: 768px) {
	
	h1, h2 {
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -0.12px;
		margin: 40px auto 30px;
	}
	.title-soon {
		display: inline-block;
		position: relative;
		&:after {
			right: auto;
			bottom: auto;
			font-size: 10px;
			border-radius: 5px;
			line-height: 18px;
			width: 62px;
			position: relative;
			display: inline-block;
			margin-left: 10px;
			vertical-align: middle;
		}
	}
	.section-hero {
		padding: 27px 0 74px;
		.best-bage {
			margin-bottom: 55px;
			margin-top: 4px;
		}
		&__title {
			font-size: 32px;
		}
		&__text {
			font-size: 24px;
			line-height: 31.5px;
			padding: 0 15px;
		}
		&__info {

			text-align: center;
			list-style: none;
			margin-left: -320/2px;
			width: 320px;

			margin-top: 41px;
			margin-bottom: 0;
		}
		&__soon-list {
			font-size: 14.4px;
			line-height: 21.6px;
		}
		&__soon-title {
			font-size: 14.4px;
			line-height: 32.4px;
			padding-bottom: 4px;
			margin-bottom: 15px;
			&:after {
				width: 182px;
				left: 0;
				margin: 0 auto;
			}
		}
		&__store-link {
			margin-bottom: 16px;
		}
		&__list {
			font-size: 24px;
			line-height: 36px;
			padding: 0;
			margin-bottom: 27px;
		}
		&__img {
			width: 641px * 220/488px;
			height: 765px * 220/488px;

			background-size: contain;
			background-repeat: no-repeat;

			left: 50%;
			margin-left: -140px;
			margin-top: 30px;
			position: relative;
		}
	}
	.best-bage {
		width: 240px;
		height: 36px;
	}
	.header {
		&__content {
			height: 56px;
			padding: 0 15px;
		}
		&__menu-btn {
			width: 20px;
			height: 20px;
			border: 0;
			background-image: url(../img/menu-icon.svg);
			background-repeat: no-repeat;
			background-size: 18px 13px;
			background-position: center;
			background-color: transparent;
			padding: 0;
			margin-right: 50px;
			display: block;
		}
		&__menu {
			
		}
		&-logo {
			width: 217px/2;
			height: 46px/2;
		}
		&-switch {
			display: none;
		}
		&-lang {
			display: none;
		}


	}
	.header-button {
		border-radius: 2.74px;
		border-width: 1px;
		font-size: 9px;
		text-shadow: 0 1px 1px rgba(92,104,114,0.64);
		padding: 1px 10px;
		line-height: 14px;
	}
	.advantages {
		&__item {
			min-width: 50%;
			flex: 0 0 50%;
			height: 50vw;
			padding: 0 10px 0 800/144%;

			&_soon {
				&:before {
					content: 'скоро';
					position: absolute;
					border: 1px solid #979797;
					border-radius: 0.5em;
					line-height: 1.8em;
					padding: 0px 1.6em;
					font-size: 100vw * 7/320;
					color: white;

					top: 100*28/160%;
					left: 100*52/160%;
				}
			}
		}
		&__icon {
			width: 100vw * 25/320;
			height: 100vw * 19/320;
			margin-top: 100*26/320vw;
			// margin-left: 100*2/320vw;
		}
		&__text {
			font-size: 200vw*22/1440;
			line-height: 2*3800/1440vw;
			
			&:after {
				height: 2*400/1440vw;
				width: 2*3000/1440vw;
			}
		}
		&__text-large {
			font-size: 200vw*38/1440;
			
		}
	}
	.section {
		padding: 0 0 40px;
		&__signature {
			font-size: 10px;
			margin-top: -30+11px;
		}
	}
	.bage-container {
		margin-top: -6px;
		margin-bottom: -6px;
	}
	.bage {
		width: 113px;
		height: 48px;
		border-width: 0.84px;
		border-radius: 4.48px;
		margin: 0 3.5px;
		font-size: 21.28px;
		letter-spacing: -0.04px;
		&_payment-systems {
			width: 78px;
			height: 48px;
			margin: 6px 3px;
			border-width: 1px;
		}
	}
	
	.action-list {
		font-size: 16px;
		line-height: 23px;
	    max-width: 250px;
	    margin-left: -130px;
		padding-left: 40px;
		&__item {
			&:before {
				font-size: 11px;
				width: 16px;
				height: 16px;
				line-height: 16px;
				left: -25px;
				border-width: 0.6px;
				top: 3px;
			}
		}
	}
	.three-phones {
		width: 1120px * 240/886px;
		height: 810px * 240/886px;

		margin-top: 20px;
		margin-bottom: 50px;
		// left: 50%;
		// margin-left: -340px/2;
		max-width: 340px;

	}
	.how-worked {
		padding-bottom: 50px;
		h2 {
			line-height: 36px;
		}
	}
	.account-state-screenshot {
		
		width: 574px * 166/530px;
		height: 992px * 166/530px;
	}
	.three-phones-at-an-angle {
		width: 1702px*203/721;
		height: 1128px*203/721;

		margin-left: -673px*203/721;
		margin-top: -3%;
		margin-bottom: -520px*203/721;
		left: 50%;
	
	}
	.screenshot-of-the-current-price {
		width: 600px * 170/546;
		height: 945px * 170/546;
		margin-bottom: -40px;
		margin-top: -20px;

	}
	.horizontal-phone {
		width: 971px * 269/860;
		height: 475px * 269/860;
		margin-top: 15px;
		// margin-bottom: -40+15px;
	}
	.button {
		width: 132px;
		height: 46px;
		border-radius: 2.82px;
		font-size: 10.45px;
		background-size: 80%;
		border-width: 2.2px;
		margin: 0 5.5px;
		&_long {
			width: 210px;
		}
	}
	
	.phone-in-hand {
		width: 1027px *134/382;
		height: 960px *134/382;
		margin-left: -270px;
		margin-bottom: -135px;
		margin-top: -15px;
	}

	.phone-in-hand-container {
		padding-bottom: 22px;
		.button {
			margin-bottom: 10px;
		}
	}
	.footer {
		&__content {
			height: auto;
			padding: 15px 15px 60px;
		}
	}
}